.hbox {
  display: flex;
}

.canvas, .placeholder-text {
  
  padding: 200px;
}

.canvas {
  margin-left: 0px; /* Adjust as needed */
  margin-right: 100px; /* Adjust as needed */
}

/* App.css */

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.placeholder-text p:after {
  content: '|'; /* the cursor */
  animation: blink 1s infinite;
  margin-left: 100px; /* Adjust as needed */
  font-size: 100px;
}

.hbox {
  display: flex;
}

.spacer {
  flex-grow: 0.5;
}

.placeholder {
  margin-left: 200px; /* Adjust as needed */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5em;
  margin: 0.5em;
  color: #61dafb;
  margin-top: 2em;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.test-image {
  width: 50px;  /* adjust as needed */
  height: 50px; /* adjust as needed */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
