.hbox {
  display: flex;
}

.canvas, .placeholder-text {
  
  padding-left: 10px;
}

.canvas {
  margin-left: 0px; /* Adjust as needed */
  margin-right: 100px; /* Adjust as needed */
}

/* App.css */

@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}


.placeholder-text {
  margin-top: 0px;
  margin-left: 80px; /* Adjust as needed */
  font-size: 12;
  text-align: left;
}

.tab {
  display: inline-block;
  margin-left: 4em;
}

.double_tab {
  margin-left: 6em;
}

.spacer {
  size: 50px /* Adjust as needed */
}

.placeholder {
  margin-left: 200px; /* Adjust as needed */
}

.App {
  background-color: #4e5564;
  text-align: center;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide the pesky white bar on top*/
}



.title {
  font-family: 'Orbitron', sans-serif;
  font-size: 1.25em;
  color: #61dafb;
}


.App-logo {
  height: auto;
  pointer-events: none;
  color:#61dafb;
  height: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}


Copy code
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* changed from center to flex-start */
  justify-content: flex-start; /* changed from center to flex-start */
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px; /* add some padding at the top */
  padding-left: 20px; /* add some padding on the left */
}

.test-image {
  width: 50px;  /* adjust as needed */
  height: 50px; /* adjust as needed */
}

.App-link {
  color: #61dafb;
}



.latex-container {
  margin-top: 10px;
  width: 50%;
  height: 300px;
  background-color:  #6b8fd5;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}


.button-container button {
  margin-top: 30px;
  font-family: 'Orbitron', 'sans-serif';
  background: linear-gradient(to right, #00b4db, #0083b0);
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-bottom: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
  box-shadow: 0 9px #373535;
}

.button-container button:hover {
  background-color: #0083b0;
  color: white;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


